* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    background-color: #d9dcd6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}


header {
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;
}

header a {
    text-decoration: none; 
    color: white; 
}
header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
    margin-bottom: 35px;
    border-color: black; 
    padding-bottom: 20px
    
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/IMG_2414.jpeg");
    background-size: cover;
    background-position: center;

}

.flex-center {
    width: 75%;
    display: inline-block;
    margin-left: 50px;
    text-align: right;
    height: auto; 
}

p {
    font-size: 20px; 
    line-height: 1.2;
    color: black;
    width: 50%;
    margin: 10px 25px 10px; 
    border: 20px; 
    text-align: left; 
    height: auto; 
}


.steps {
    display: inline-block;
    margin-left: 10px;
    text-align: left; 
    height: auto; 
}
 

h3 {
    margin-bottom: 10px;
    text-align: center;

}
 
.flex-line-1 {
    display: flex;
    flex-flow: nowrap; 
    justify-content: center; 

}

.run-buddy {
    width: 1050px;
    margin: 20px;
    padding: 20px;
    background-color: rgb(175, 233, 175);
}

.flex-line-2{
    display: flex;
    flex-flow: nowrap; 
    justify-content: center;
}

   
.horiseon {
    width: 550px;
    height: 422.5px; 
    padding: 20px;
    background-color: rgb(175, 233, 175);
    margin: 10px 10px 10px 10px 
   
}

.happybday {
    width: 550px;
    padding: 20px;
    background-color: rgb(175, 233, 175);
    margin: 10px 10px 10px 10px 

}

.flex-line-3 {
    display: flex;
    flex-flow: nowrap; 
    justify-content: center;
}

.cosmo {
    width: 550px;
    padding: 20px;
    background-color: rgb(175, 233, 175);
    margin: 10px 10px 10px 10px 

}
.waterfalls {
    width: 550px;
    padding: 20px;
    background-color: rgb(175, 233, 175);
    margin: 10px 10px 10px 10px 

}
   
.contact h2 {
    color: #2a607c;
  }

.contact-info {
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
  }
 
.contact div {
    color: blue;
  }
  
div nav {
    margin: 7px 300px;
}


div nav ul {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: center;
    list-style: none;
}

div nav ul li {
    display: inline; 
    
}

div nav ul li a {
    padding: 10px 15px; 
    font-size: 1.5vw; 
}

.contact p, .contact address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
  }

.contact a {
    color: #2a607c;
  }

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}